<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
">
    <!-- 包扫描 -->
    <context:component-scan base-package="com.jumaojiang.controller" />

    <!-- 开启mvc注解驱动 -->
    <mvc:annotation-driven />

    <!-- 视图解析器 -->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 静态文件处理器 -->
    <!-- 1.使用Web应用服务器的默认servlet处理 -->
<!--    <mvc:default-servlet-handler />-->

    <!-- 2.使用Spring3.0以后出现的专门用于处理静态资源请求的处理器
         location: 静态资源所在目录, 不要使用/WEB-INF
         mapping: 对静态资源的请求, 注意用两个*进行匹配
         -->
    <mvc:resources mapping="/static/**" location="/static/"/>

    <!-- 拦截器配置 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/file/**"/>
            <bean class="com.jumaojiang.interceptor.FileInterceptor"/>
        </mvc:interceptor>
<!--        <mvc:interceptor>-->
<!--            &lt;!&ndash; 拦截器要拦截的路径 &ndash;&gt;-->
<!--            <mvc:mapping path="/**"/>-->
<!--            &lt;!&ndash; 指定执行的拦截器 &ndash;&gt;-->
<!--            <bean class="com.jumaojiang.interceptor.MyInterceptor2"/>-->
<!--        </mvc:interceptor>-->
<!--        <mvc:interceptor>-->
<!--            &lt;!&ndash; 拦截器要拦截的路径 &ndash;&gt;-->
<!--            <mvc:mapping path="/**"/>-->
<!--            &lt;!&ndash; 指定执行的拦截器 &ndash;&gt;-->
<!--            <bean class="com.jumaojiang.interceptor.MyInterceptor"/>-->
<!--        </mvc:interceptor>-->
    </mvc:interceptors>

    <!-- 文件传输处理配置 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 文件上传大小限制, 以字节B为单位 : 5M = 5*1024*1024B = 5242880 B -->
        <property name="maxUploadSize" value="5242880"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

</beans>